@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to JerseysForCheap.ca</h1>
    <p class="lead">Here we offer the best Jerseys for cheap of course.</p>
    <p><a href="/Jersey/List" class="btn btn-primary btn-lg">View Jerseys</a></p>
</div>
