@model List<PassionProject.Models.Customer>

@{
    ViewBag.Title = "Add";
}

<h2>Add Order</h2>

<form method="post" action="/Order/Add/">
    <div class="form-group">
        <label>Which customer do you want to add this order to?</label>
        <select name="customerId" id="customerId" class="custom-select">
            @{
                foreach (var customer in Model)
                {
                    <option value="@customer.customerId">@customer.customerFirstName @customer.customerLastName</option>
                }
            }
        </select>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Add Order" class="btn btn-success" />
    </div>
    
</form>